{% extends "base.html" %}

{% block content %}
<div class ='text-center'>
		<p>{{ title }}</p>
</div>
<div class="container">
	<h3>{{ content }}</h3>
	<div class="row">
		<div class="col">
			<div class="col-sm-6 col-12">
				<form method="POST"> {% csrf_token %}
					{{ form }}
					<button type="submit" class="btn default">Login</button>
				</form>
				<!-- <form method="POST"> {% csrf_token %}
    				<input type="text" class="form-control" placeholder="Username or Email" name="ulog">
    				<input type="password" class="form-control" placeholder="Password" name="logp">
    				<button type="submit" class="btn default">Login</button>
    			</form>	 -->	
			</div>
		</div>
	</div>
</div>
{% endblock %}
